<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.w3.org/1999/xhtml">

<!-- Head -->

<head>

    <title>Universe Signin Form Flat Responsive Widget Template :</title>

    <!-- Meta-Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- style CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<!-- //Head -->

<!-- Body -->

<body>
<section class="main">
    <div class="logo text-center">
        <h1><a href="index.html"> 登录 </a></h1>
    </div>
    <div class="content-w3ls text-center">
        <img src="images/admin.png" alt="" class="img-responsive">
        <!--            <form th:action="@{/login}" method="post">-->
        <form>
            <div class="wthree-field">
                <input name="userName" id="userName" type="text" value="" placeholder="Username" required>
            </div>
            <div class="wthree-field">
                <input name="pwd" id="pwd" type="Password" placeholder="Password" required>
            </div>
            <div class="wthree-field">
                <button type="button" id="submit" name="submit" class="btn">Sign In</button>
            </div>
            <div class="login-bottom">
                <a href="/toregister" class="">快速注册</a>
            </div>
            <div class="login-bottom">
                <a href="/tofindback" class="">找回密码</a>
            </div>
        </form>
    </div>
</section>

<script src="/js/jquery/jquery-3.3.1.min.js"></script>
<script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script>
    function func() {
        //验证用户是否已经注册过
        var userName = $("#userName").val();//获取表单元素值
        var pwd = $("#pwd").val();
        console.log("现在是func方法")
        // var userName = document.getElementById('userName').value;
        if (userName == "") {
            alert("手机号不能为空！");
            return false;
        }
        if (pwd == "") {
            alert("密码不能为空！");
            return false;
        }
        if (pwd.length < 4) {
            alert("密码不能少于4位！");
            return false;
        }
        return true;
    }

    $("#submit").on("click", function () {
        if (!func()) {
            console.log("!!!!!!");
            return false;
        }
        var userName = $("#userName").val();//获取表单元素值
        var pwd = $("#pwd").val();
        var data = {
            userName: userName,
            pwd: pwd
        };
        console.log(userName)
        console.log(data)
        $.ajax({
            type: "POST",
            //待载入页面的url
            url: "/login",
            data: data,
            dataType: 'json',
            success: function (msg) {
                console.log("进success了");
                if ("00" == msg.errorCode) {
                    console.log("success");
                    window.location.href = "/content";
                } else if ("11" == msg.errorCode) {
                    alert("该用户不存在！");
                    console.log("该用户不存在！");
                    return false;
                } else if ("22" == msg.errorCode) {
                    alert("密码输入错误，错误输入三次后您的账户将会被锁定！why just u");
                    return false;
                } else if ("33" == msg.errorCode) {
                    alert("您由于错误登陆次数太多，系统已将您的账户锁定，请在三分钟后重新登录！");
                    return false;
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log("进error了")
                // 状态码
                console.log(XMLHttpRequest.status);
                // 状态
                console.log(XMLHttpRequest.readyState);
                // 错误信息
                console.log(textStatus);
            }
        });
    });

</script>

</body>
<!-- //Body -->

</html>