<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>食物与健康</title>

  <!-- Google fonts -->
  <link href="//fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="//fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">

  <!-- Template CSS -->
  <link rel="stylesheet" href="assets/css/style-starter.css">
  <!-- 登录css -->
  <link rel="stylesheet" href="../static/css/style.css" type="text/css" media="all">
</head>

<body>
  <!--userheader-->
  <header id="site-header" class="fixed-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light stroke">
        <a class="navbar-brand" href="index.html">
          <span> 食物</span>
          <span> 与健康</span>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa icon-expand fa-bars"></span>
          <span class="fa icon-close fa-times"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="adminHome.html">Home </a>
            </li>
            <li class="nav-item @@active">
              <a class="nav-link" href="adminFoodinfoList.html">食物说</a>
            </li>
            <li class="nav-item @@active">
              <a class="nav-link" href="adminDietAndNutrition.html">食谱与营养</a>
            </li>
            <li class="nav-item @@active">
                <a class="nav-link" href="adminpro/laydemopro.html">管理员 </a>
            </li>
          </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <!-- <div class="popup ml-auto">
            <a href="#menu" class="domain" data-toggle="modal" data-target="#DomainModal">
              <div class="hamburger">
                <span class="top-bar"></span>
                <span class="middle-bar"></span>
                <span class="bottom-bar"></span>
              </div>
            </a>
          </div> -->
        </div>

        <!-- toggle switch for light and dark theme -->
        <div class="mobile-position ml-lg-2">
          <nav class="navigation">
            <div class="theme-switch-wrapper">
              <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox">
                <div class="mode-container">
                  <i class="gg-sun"></i>
                  <i class="gg-moon"></i>
                </div>
              </label>
            </div>
          </nav>
        </div>
        <!-- //toggle switch for light and dark theme -->
      </nav>
    </div>
  </header>
  <!--/userheader-->
  <div class="header-gap">

  </div>
  <!-- home page about section -->
  <section class="w3l-homeblock1" id="about">
    <div class="midd-w3 py-5">
      <div class="container py-lg-5 py-md-3">
        <div class="row">
          <div class="col-lg-6">
            <span class="text">食物与健康</span>
          </div>
          <div class="col-lg-6 mt-lg-0 mt-5">
            <div class="position-relative">
              <img src="assets/images/about.jpg" alt="" class="radius-image img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //home page about section -->

  <div class="copyright py-sm-5 py-4 text-center">
    <div class="container">
    </div>
  </div>
  <!-- move top -->
  <button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fa fa-angle-up"></span>
  </button>
  <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
      scrollFunction()
    };

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("movetop").style.display = "block";
      } else {
        document.getElementById("movetop").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  </script>
  <!-- /move top -->

  <!-- jQuery and Bootstrap JS -->
  <script src="assets/js/jquery-3.3.1.min.js"></script>

  <script src="assets/js/theme-change.js"></script><!-- theme switch js (light and dark)-->

  <script src="../static/js/jquery/jquery-3.3.1.min.js"></script>

  <!-- 登录 -->
  <script>
    function func() {
      //验证用户是否已经注册过
      var userName = $("#userName").val();//获取表单元素值
      var pwd = $("#pwd").val();
      // var userName = document.getElementById('userName').value;
      if (userName == "") {
        alert("手机号不能为空！");
        return false;
      }
      if (pwd == "") {
        alert("密码不能为空！");
        return false;
      }
      if (pwd.length < 4) {
        alert("密码不能少于4位！");
        return false;
      }
      return true;
    }

    $("#wangsubmit").on("click", function () {
      console.log("ssssssss")
      if (!func()) {
        console.log("!!!!!!");
        return false;
      }
      var userName = $("#userName").val();//获取表单元素值
      var pwd = $("#pwd").val();
      var data = {
        userName: userName,
        pwd: pwd
      };
      console.log(userName)
      console.log(data)
      $.ajax({
        type: "POST",
        //待载入页面的url
        url: "http://localhost:8080/login",
        data: data,
        dataType: 'json',
        success: function (msg) {
          console.log("进success了");
          if ("00" == msg.errorCode) {
            console.log("success");
            alert("handsome")
            window.location.href = "index.html";
          } else if ("11" == msg.errorCode) {
            alert("该用户不存在！");
            console.log("该用户不存在！");
            return false;
          } else if ("22" == msg.errorCode) {
            alert("密码输入错误，错误输入三次后您的账户将会被锁定！why");
            return false;
          } else if ("33" == msg.errorCode) {
            alert("您由于错误登陆次数太多，系统已将您的账户锁定，请在三分钟后重新登录！");
            return false;
          }
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          console.log("进error了")
          // 状态码
          console.log(XMLHttpRequest.status);
          // 状态
          console.log(XMLHttpRequest.readyState);
          // 错误信息
          console.log(textStatus);
        }
      });
    });
  </script>
  <!-- //登录 -->
  <!-- owlcarousel -->
  <script src="assets/js/owl.carousel.js"></script>

  <!-- script for tesimonials carousel slider -->
  <script>
    $(document).ready(function () {
      $("#owl-demo1").owlCarousel({
        loop: true,
        nav: false,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          736: {
            items: 1,
            nav: false
          }
        }
      })
    })
  </script>
  <!-- //script for tesimonials carousel slider -->

  <!-- script for portfolio slider -->
  <script>
    $(document).ready(function () {
      $("#owl-portfolio").owlCarousel({
        loop: true,
        margin: 20,
        nav: false,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          568: {
            items: 2,
            nav: false
          },
          1080: {
            items: 3,
            nav: false
          }
        }
      })
    })
  </script>
  <!-- //script for portfolio slider -->

  <!-- script for featured posts blog slider -->
  <script>
    $(document).ready(function () {
      $('.owl-testimonial').owlCarousel({
        loop: true,
        margin: 0,
        nav: true,
        responsiveClass: true,
        autoplay: false,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          480: {
            items: 1,
            nav: false
          },
          667: {
            items: 1,
            nav: false
          },
          1000: {
            items: 1,
            nav: false
          }
        }
      })
    })
  </script>
  <!-- //script for featured posts blog slider -->

  <!-- script for banner typing text -->
  <script>
    function autoType(elementClass, typingSpeed) {
      var thhis = $(elementClass);
      thhis.css({
        "position": "relative",
        "display": "inline-block"
      });
      thhis.prepend('<div class="cursor" style="right: initial; left:0;"></div>');
      thhis = thhis.find(".text-js");
      var text = thhis.text().trim().split('');
      var amntOfChars = text.length;
      var newString = "";
      thhis.text("|");
      setTimeout(function () {
        thhis.css("opacity", 1);
        thhis.prev().removeAttr("style");
        thhis.text("");
        for (var i = 0; i < amntOfChars; i++) {
          (function (i, char) {
            setTimeout(function () {
              newString += char;
              thhis.text(newString);
            }, i * typingSpeed);
          })(i + 1, text[i]);
        }
      }, 1500);
    }

    $(document).ready(function () {
      // Now to start autoTyping just call the autoType function with the 
      // class of outer div
      // The second paramter is the speed between each letter is typed.   
      autoType(".type-js", 200);
    });
  </script>
  <!-- //script for banner typing text -->


  <!-- disable body scroll which navbar is in active -->
  <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- disable body scroll which navbar is in active -->

  <!-- MENU-JS -->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!-- //MENU-JS -->

  <!-- bootstrap -->
  <script src="assets/js/bootstrap.min.js"></script>

</body>

</html>