<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="../static/images/me.jpg" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">



    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="../static/lib/editormd/css/editormd.preview.min.css" />

    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style-starter.css">
    <!-- 登录css -->
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" media="all">
</head>

<body onload="mk()">
    <!--导航-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light stroke">
                <a class="navbar-brand" href="index.html">
                    <span> 食物</span>
                    <span> 与健康</span>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa icon-expand fa-bars"></span>
                    <span class="fa icon-close fa-times"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item @@__active">
                            <a class="nav-link" href="home.html">Home </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="foodinfoList.html">食物说</a>
                        </li>
                        <li class="nav-item @@c__active">
                            <a class="nav-link" href="DietAndNutrition.html">食谱与营养</a>
                        </li>
                    </ul>
                </div>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <div class="popup ml-auto">
                        <a href="#menu" class="domain" data-toggle="modal" data-target="#DomainModal">
                            <div class="hamburger">
                                <svg t="1650099328672" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                    xmlns="http://www.w3.org/2000/svg" p-id="2567" width="200" height="200">
                                    <path
                                        d="M500 128.8c-95.2 5.6-173.6 83.2-180 178.4-7.2 112 80.8 205.6 191.2 205.6 106.4 0 192-86.4 192-192 0.8-110.4-92-198.4-203.2-192zM512 575.2c-128 0-383.2 64-383.2 192v96c0 17.6 14.4 32 32 32h702.4c17.6 0 32-14.4 32-32V766.4c0-127.2-255.2-191.2-383.2-191.2z"
                                        p-id="2568"></path>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- 亮暗主题 -->
                <div class="mobile-position ml-lg-2">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
            </nav>
        </div>
    </header>

    <!-- 侧登录模块 -->
    <div class="modal right fade" id="DomainModal" tabindex="-1" role="dialog" aria-labelledby="DomainModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>

                <div class="modal-body">
                    <div class="modal__content">
                        <a class="navbar-brand"> <span>登录 </span></a>
                        <div class="widget-social-icons mt-sm-5 mt-4">
                            <ul class="icon-rounded address">
                                <div class="wthree-field">
                                    <input name="userName" id="userName" type="text" value="" placeholder="Username"
                                        required>
                                </div>
                                <div class="wthree-field">
                                    <input name="pwd" id="pwd" type="Password" placeholder="Password" required>
                                </div>
                                <div class="wthree-field">
                                    <button type="button" id="wangsubmit" name="submit" class="btn">登录</button>
                                </div>
                                <div class="wthree-field">
                                    <a href="#menu" class="domain" data-toggle="modal"
                                        data-target="#DomainModal2">注册</a>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 侧注册模块 -->
    <div class="modal right fade" id="DomainModal2" tabindex="-1" role="dialog" aria-labelledby="DomainModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>

                <div class="modal-body">
                    <div class="modal__content">
                        <a class="navbar-brand"> <span>注册 </span></a>
                        <div class="widget-social-icons mt-sm-5 mt-4">
                            <ul class="icon-rounded address">
                                <div class="wthree-field">
                                    <input name="userName" id="userNameRegister" type="text" value=""
                                        placeholder="Username" required>
                                </div>
                                <div class="wthree-field">
                                    <input name="pwd" id="pwdRegister" type="Password" placeholder="Password">
                                </div>
                                <div class="wthree-field">
                                    <input name="tel" id="telRegister" type="text" placeholder="Telephone">
                                </div>
                                <div class="wthree-field">
                                    <button type="button" name="submit" id="submitRegister" class="btn">注册</button>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--顶部图片-->
    <div class="m-bg-type_outer" style="width: 100%;height: 50%">
        <img src="../static/images/bg.jpg" alt="" class="ui m-bg image" style="width: 100%;height: 100%">
        <div class="m-bg-class_cover">
            <div class="ui container" style="position: relative ;bottom: -540px;">

                <h2 class="m-font-size-title-large" align="center" id="title"></h2>
                <div class="ui container" align="center">
                    <div class="ui horizontal link list" align="center">
                        <!-- <div class="item">
                            <div class="ui orange basic label" style="font-size: 7px">原创</div>
                        </div> -->
                        <div class="item">
                            <!-- <i class="user outline outline icon m-font-size-text-mini"></i> -->
                            <span style="color: #ffffff;font-size: 18px"> 作者: </span>
                            <span style="color: #ffffff;font-size: 18px" id="author"></span>
                        </div>
                        <!-- <div class="item">
                            <i class="calendar icon m-font-size-text-mini"></i>
                            <span class="m-font-size-text-mini">2020-01-01</span>
                        </div> -->
                        <!-- <div class="item">
                            <i class="clone icon m-font-size-text-mini"></i>
                            <a href="#" target="_blank" style="color: #ffffff;font-size: 16px">我的故事</a>
                        </div> -->
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--中间内容-->
    <div id="waypoint" class="m-margin- animated fadeIn">
        <div class="ui container m-opacity box-shadow-max">
            <!--内容-->
            <div class="ui attached padded segment">
                <br>
                <br>
                <!--中间主要内容部分-->
                <div id="cont" style="display:none;">22222</div>
                <div id="content" class="typo  typo-selection js-toc-content m-padded-lr-responsive m-padded-tb-large">
                    <br>
                    <textarea id="mkcontent"></textarea>
                    <br>
                    <br>
                </div>
                <div class="ui horizontal divider">end</div>
            </div>

            <!-- 评论区域 -->
            <div class="ui bottom attached segment">
                <!--评论区域列表-->
                <div id="comment-container" class="ui teal segment">
                    <div>
                        <div class="ui threaded comments" style="max-width: 100%;">
                            <h3 class="ui dividing header">评论</h3>
                            <div class="comment">
                                <!-- <a class="avatar">
                                    <img src="../static/images/avatar.png">
                                </a> -->
                                <div class="content" id="txt">
                                    <span class="author">
                                        <!-- <span th:text="${comment.username}">Matt</span> -->
                                        <span id="infoauthor">夏洛</span>
                                        <!-- <div class="ui mini basic teal left pointing label m-padded-mini">栈主</div> -->
                                    </span>
                                    <!-- <div class="metadata">
                                        <span class="date">Today at 5:42PM</span>
                                    </div> -->
                                    <div class="text">
                                        How artistic!
                                    </div>
                                    <!-- <div class="actions">
                                        <a class="reply" data-commentid="1" data-commentnickname="Matt"
                                            onclick="reply(this)">回复</a>
                                    </div> -->
                                </div>
                                <!--子集评论-->
                                <!-- <div class="comments">
                                    <div class="comment">
                                        <a class="avatar">
                                            <img src="../static/images/avatar.png">
                                        </a>
                                        <div class="content">
                                            <a class="author">
                                                <span>小红</span>
                                                <div class="ui mini basic teal left pointing label m-padded-mini">栈主
                                                </div>
                                                &nbsp;<span class="m-teal">@ 小白</span>
                                            </a>
                                            <div class="metadata">
                                                <span class="date">Today at 5:42PM</span>
                                            </div>
                                            <div class="text">
                                                How artistic!
                                            </div>
                                            <div class="actions">
                                                <a class="reply" data-commentid="1" data-commentnickname="Matt"
                                                    onclick="reply(this)">回复</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 评论人信息页面 -->
                <div id="comment-form" class="ui form">
                    <input type="hidden" name="blogId">
                    <input type="hidden" name="parentComment.id" value="-1">
                    <div class="field">
                        <textarea name="content" id="text" placeholder="请输入评论信息..."></textarea>
                    </div>
                    <div class="fields">
                        <div class="field  m-margin-bottom-small m-mobile-wide">
                            <button id="commentpost-btn" type="button" class="ui teal button m-mobile-wide"><i
                                    class="edit icon"></i>发布</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
    <script src="assets/js/theme-change.js"></script><!-- theme switch js (light and dark)-->

    <script src="../static/js/jquery/jquery-3.3.1.min.js"></script>

    <script src="../static/lib/editormd/lib/marked.min.js"></script>
    <script src="../static/lib/editormd/lib/prettify.min.js"></script>
    <script src="../static/lib/editormd/lib/raphael.min.js"></script>
    <script src="../static/lib/editormd/lib/underscore.min.js"></script>
    <script src="../static/lib/editormd/lib/sequence-diagram.min.js"></script>
    <script src="../static/lib/editormd/lib/jquery.flowchart.min.js"></script>
    <script src="../static/lib/editormd/lib/flowchart.min.js"></script>
    <script src="../static/lib/editormd/editormd.min.js"></script>



    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!-- //MENU-JS -->

    <!-- bootstrap 侧模块展示-->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- 登录 -->
    <script>
        function func() {
            //验证用户是否已经注册过
            var userName = $("#userName").val();//获取表单元素值
            var pwd = $("#pwd").val();
            // var userName = document.getElementById('userName').value;
            if (userName == "") {
                alert("手机号不能为空！");
                return false;
            }
            if (pwd == "") {
                alert("密码不能为空！");
                return false;
            }
            if (pwd.length < 4) {
                alert("密码不能少于4位！");
                return false;
            }
            return true;
        }

        $("#wangsubmit").on("click", function () {
            console.log("ssssssss")
            if (!func()) {
                console.log("!!!!!!");
                return false;
            }
            var userName = $("#userName").val();//获取表单元素值
            var pwd = $("#pwd").val();
            var data = {
                userName: userName,
                pwd: pwd
            };
            console.log(userName)
            console.log(data)
            $.ajax({
                type: "POST",
                //待载入页面的url
                url: "http://localhost:8080/login",
                data: data,
                dataType: 'json',
                success: function (msg) {
                    console.log("进success了");
                    console.log(msg)
                    if ("200" == msg.code) {
                        localStorage.setItem("user", JSON.stringify(msg.data))
                        console.log("success" + msg);
                        alert("handsome")
                        let url = window.location.search;//获取当前页面的确认
                        let userinfodemo = "userinfodemo.html" + url
                        window.location.href = userinfodemo;//用户发评论
                    } else if ("11" == msg.data) {
                        alert("该用户不存在！");
                        console.log("该用户不存在！");
                        return false;
                    } else if ("22" == msg.data) {
                        alert("密码输入错误，错误输入三次后您的账户将会被锁定！");
                        return false;
                    } else if ("33" == msg.data) {
                        alert("您由于错误登陆次数太多，系统已将您的账户锁定，请在三分钟后重新登录！");
                        return false;
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log("进error了")
                    // 状态码
                    console.log(XMLHttpRequest.status);
                    // 状态
                    console.log(XMLHttpRequest.readyState);
                    // 错误信息
                    console.log(textStatus);
                }
            });
        });
    </script>
    <!-- /登录 -->

    <!-- 注册 -->
    <script>
        function rfunc() {
            console.log("现在在rfunc方法中")
            var userName = $("#userNameRegister").val();
            // let user = document.getElementById("userName").value;
            var pwd = $("#pwdRegister").val();
            var tel = $("#telRegister").val();
            if (userName == "") {
                alert("用户名不能为空！");
                return false;
            }
            if (pwd == "") {
                alert("密码不能为空！");
                return false;
            }
            if (tel == "") {
                alert("手机号不能为空！");
                return false;
            }
            // if (!(/^1[34578]\d{9}$/.test(pwd))) {
            //     alert("手机号输入错误");
            //     return false;
            // }
            if (pwd.length < 4) {
                alert("密码不能少于4位！");
                return false;
            }
            return true;
        }

        $("#submitRegister").on("click", function () {
            if (!rfunc()) {
                console.log("!!!!!!");
                return false;
            }
            var userName = $("#userNameRegister").val();//获取表单元素值
            var pwd = $("#pwdRegister").val();
            var tel = $("#telRegister").val();
            var data = {
                userName: userName,
                pwd: pwd,
                tel: tel
            };
            console.log(data);
            $.ajax({
                type: "POST",
                //待载入页面的url,方法名
                url: "http://localhost:8080/register",
                data: data,    //后台传回的数据
                dataType: 'json',
                success: function (msg) {
                    if ("00" == msg.errorCode) {
                        console.log("success");
                        localStorage.setItem("user", JSON.stringify(data))
                        alert("注册成功！！！")
                        window.location.href = "userHome.html";
                    } else if ("11" == msg.errorCode) {
                        alert("该用户已经存在！");
                        console.log("该用户已经存在！");
                        return false;
                    } else if ("22" == msg.errorCode) {
                        alert("该手机号已经注册！");
                        console.log("该手机号已经注册！");
                        return false;
                    }
                }
            })
        })
    </script>
    <!-- /注册 -->

    <!-- 显示文章详情 -->
    <script>
        //获取参数方法
        function GetUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
        //使用获取参数方法
        var id = GetUrlParam("id");
        var pageNum = GetUrlParam("pageNum");
        var pageSize = GetUrlParam("pageSize");
        console.log("id:" + id + "  name:" + name);
        console.log("pageNum:" + pageNum + "  name:" + name);
        console.log("pageSize:" + pageSize + "  name:" + name);

        //文章详情
        $.ajax({
            url: "http://localhost:8080/infodetail",
            dataType: "json",
            type: "post",
            data: {
                id: id,
                pageNum: pageNum,
                pageSize: pageSize
            },
            success: function (msg) {
                console.log("that is my json code: " + msg.code);
                console.log("that is my json data: " + msg.data.content);
                if (msg.code == 200) {
                    console.log("like success")
                    document.getElementById("title").innerHTML = msg.data.title;
                    document.getElementById("cont").innerHTML = msg.data.content;
                    document.getElementById("author").innerHTML = msg.data.author;
                }
            }
        })

        //展示评论
        $.ajax({
            url: "http://localhost:8080/infocomment",
            dataType: "json",
            type: "post",
            data: {
                id: id,
                pageNum: pageNum,
                pageSize: pageSize
            },
            success: function (msg) {
                console.log(msg.data.length)
                if (msg.code == 200) {
                    let comment = ''
                    for (let i = 0; i < msg.data.length; i++) {
                        comment += '<div class="comment">' +
                            '<div class="content" id="txt">' +
                            '<span class="author">' +
                            msg.data[i].username +
                            '</span>' +
                            '<div class="text">' +
                            msg.data[i].content +
                            '</div>' +
                            '</div>' +
                            '</div>'
                    }
                    $(".ui.threaded.comments").html(comment);
                }
            }
        })

        // console.log(commentContent)
        $("#commentpost-btn").on("click", function () {
            alert("登录后可评论！")
            var commentArea = document.getElementById("text");
            commentArea.value = "";
        })
        $("#text").on("click", function () {
            alert("登录后可评论！")
            let url = window.location.search;//获取当前页面的确认
            console.log(url)
        })
    </script>

    <!-- mkdown转HTML -->
    <script>
        function mk() {
            console.log("mkmkmkmkmkmkmkmkmkmk")
            //先对容器初始化
            $("#content").html(' <textarea id="mkcontent"></textarea>');

            var a = document.getElementById("content").innerHTML
            $("#mkcontent").val(document.getElementById("cont").innerHTML)
            //转换开始,第一个参数是上面的div的id
            editormd.markdownToHTML("content", {
                htmlDecode: "style,script,iframe", //可以过滤标签解码
                emoji: true,
                taskList: true,
                tex: true,                // 默认不解析
                flowChart: true,          // 默认不解析
                sequenceDiagram: true,    // 默认不解析
            });
        }
    </script>
</body>

</html>