<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.w3.org/1999/xhtml">

<!-- Head -->

<head>

    <title>Universe Signin Form Flat Responsive Widget Template :</title>

    <!-- Meta-Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- style CSS -->
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" media="all">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<!-- //Head -->

<!-- Body -->

<body>

<section class="main">
    <div class="logo text-center">
        <h1><a href="index.html"> 注册 </a></h1>
    </div>
    <div class="content-w3ls text-center">
        <img src="../static/images/admin.png" alt="" class="img-responsive">
        <!--        <form th:action="@{/register}" method="post">-->
        <form>
            <div class="wthree-field">
                <input name="userName" id="userName" type="text" value="" placeholder="Username" required>
            </div>
            <div class="wthree-field">
                <input name="pwd" id="pwd" type="Password" placeholder="Password">
            </div>
            <div class="wthree-field">
                <input name="tel" id="tel" type="text" placeholder="Telephone">
            </div>
            <div class="wthree-field">
                <button type="button" name="submit" id="submit" class="btn">注册</button>
            </div>
        </form>
    </div>
</section>
<script src="../js/jquery/jquery-3.3.1.min.js"></script> 
<script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script>
    function rfunc() {
        console.log("现在在rfunc方法中")
        var userName = $("#userName").val();
        var pwd = $("#pwd").val();
        var tel = $("#tel").val();
        if (userName == "") {
            alert("用户名不能为空！");
            return false;
        }
        if (pwd == "") {
            alert("密码不能为空！");
            return false;
        }
        if (tel == "") {
            alert("手机号不能为空！");
            return false;
        }
        // if (!(/^1[34578]\d{9}$/.test(pwd))) {
        //     alert("手机号输入错误");
        //     return false;
        // }
        if (pwd.length < 4) {
            alert("密码不能少于4位！");
            return false;
        }
        return true;
    }

    $("#submit").on("click", function () {
        if (!rfunc()) {
            console.log("!!!!!!");
            return false;
        }
        var userName = $("#userName").val();//获取表单元素值
        var pwd = $("#pwd").val();
        var tel = $("#tel").val();
        var data = {
            userName: userName,
            pwd: pwd,
            tel: tel
        };
        console.log(data);
        $.ajax({
            type: "POST",
            //待载入页面的url,方法名
            url: "http://localhost:8080/register",
            data: data,    //后台传回的数据
            dataType: 'json',
            success: function (msg) {
                if ("00" == msg.errorCode) {
                    console.log("success");
                    alert("注册成功！！！")
                    window.location.href = "/tologin";
                } else if ("11" == msg.errorCode) {
                    alert("该用户已经存在！");
                    console.log("该用户已经存在！");
                    return false;
                } else if ("22" == msg.errorCode) {
                    alert("该手机号已经注册！");
                    console.log("该手机号已经注册！");
                    return false;
                }
            }
        })
    })
</script>

</body>
<!-- //Body -->

</html>